.technology-content {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.technology__img {
  width: 100%;
  height: auto;
}

.techology_img-group {
  margin-top: 2.5rem;
}

.title_mt {
  margin-top: 3rem;
}